@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

*{
    box-sizing: border-box; 
}

html {
    background-color: rgba(255, 214, 71);

}
.logo {
    background-color: rgba(255, 214, 71);
    font-family: 'BELLABOO-regular';
    font-size: 3em;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.loginPage {
    background-image: url("\public\images\LoginBackground.JPG");
    background-repeat: no-repeat;
}
.container-fluid{
    height:100%;
    width: 100%;
}
.rowVar1{
    max-height: 433px; /*sloppy.  needs % to match other style*/
}
.rowVar2{
    max-height: 433px; /*sloppy.  needs % to match other style*/
}

/*video element styles */
.selfVid{
    object-fit: cover;
    max-height: 75%;
}
#peerVideo{
    object-fit: cover;
    max-height: 100%;
    -moz-transition: transform 2s;
    -webkit-transition: transform 2s;
    transition: transform 2s;
}

/* enable screen flip button */
.flip {
    transform: rotateX(180deg);
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
    -moz-transform:rotateX(180deg); /* Firefox */
    object-fit: cover;
}

.img-magnifier-container {
    position:relative;
  }

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 0%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 50px;
    height: 50px;
}

footer{
    background-color: rgba(200, 200, 200);
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .76em;
    cursor: pointer;
}
.btn-fart{
    border: 2px solid #000000;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin-inline-start: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height:110px;
    width:110px;
    position: relative;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgba(255, 255, 255);

    box-shadow: -6px 6px 0 rgba(50, 50, 50);
}
.btn-fart:hover {   
    color: rgba(255, 255, 255);
}
/* main font, Bellabo */
@font-face {
    font-family: 'BELLABOO-Regular';
    src: url('main_font/BELLABOO-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
} 

.aboutMe {
    font-weight: bolder;
    font-size: 1.5em;
    font-style: 'BELLABOO-Regular';
}